a.button.blue{
    background-color: #e6f2ff;
    border: 2px solid #008CBA;
    color: black; 
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;    
    transition-duration: 0.5s;      
	}

a.button.blue:hover{
    background-color: #008CBA;
    color: white;
}
a.button{
    background-color: #e6f2ff;
    border: 2px solid #008CBA;
    color: black; 
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;    
    transition-duration: 0.5s;      
    }

a.button:hover{
    background-color: #008CBA;
    color: yellow;
}